@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: lato, sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: lato, sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  font-family: lato, sans-serif;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1130px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  padding-top: 10px;
}
.header__row {
  display: flex;
  justify-content: center;
}
.header__column {
  flex: 0 0 33.333%;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.header__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.header__phone {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
  font-size: 16px;
  color: #000;
  flex-grow: 3;
  justify-content: center;
}
.header__btn {
  display: block;
  background-color: #00a2d1;
  color: #fff;
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
  flex: 0 1 auto;
  width: 100%;
}
.header__logo {
  padding: 0 15px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.header__logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.header .menu {
  position: relative;
  /* -----------------------------------------------------------------------------

    HAMBURGER ICONS COMPONENT

  ----------------------------------------------------------------------------- */
  /**
   * Toggle Switch Globals
   *
   * All switches should take on the class `c-hamburger` as well as their
   * variant that will give them unique properties. This class is an overview
   * class that acts as a reset for all versions of the icon.
   */
  /**
   * Style 1
   *
   * Rotating hamburger icon (rot), that simply rotates 90 degrees when activated.
   * Nothing too fancy, simple transition.
   */
  /* active state, i.e. menu open */
  /**
   * Style 2
   * 
   * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
   * down to center and transform into an "x".
   */
  /* active state, i.e. menu open */
  /**
   * Style 3
   *
   * Hamburger to left-arrow (htla). Hamburger menu transforms to a left-pointing
   * arrow. Usually indicates an off canvas menu sliding in from left that
   * will be close on re-click of the icon.
   */
  /* active state, i.e. menu open */
  /**
   * Style 4
   *
   * Hamburger to right-arrow (htra). Hamburger menu transforms to a
   * right-pointing arrow. Usually indicates an off canvas menu sliding in from 
   * right that will be close on re-click of the icon.
   */
  /* active state, i.e. menu open */
}
.header .menu__body {
  height: 50px;
  position: relative;
}
.header .menu__body:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #9fdced;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  z-index: 1;
}
.header .menu__body .menu-navigation-container {
  position: absolute;
  width: 100%;
}
.header .menu__body .menu-navigation-container .menu {
  overflow: hidden;
  visibility: hidden;
  top: 50px;
  transition: all 0.5s ease 0s;
}
.header .menu__body .menu-navigation-container .menu > li {
  margin: 0;
  width: 100%;
  background: #1a365c;
}
.header .menu__body .menu-navigation-container .menu > li > a {
  display: block;
  width: 100%;
  padding: 7px 0;
  color: #fff;
  border-radius: 0;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid #DDD;
}
.header .menu__body_active .menu-navigation-container .menu {
  visibility: visible;
  display: block;
  z-index: 10;
}
.header .menu .c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
}
.header .menu .c-hamburger:focus {
  outline: none;
}
.header .menu .c-hamburger span {
  display: block;
  position: absolute;
  top: 23.5px;
  left: 7px;
  right: 7px;
  height: 3px;
  background: #00a2d1;
}
.header .menu .c-hamburger span::before,
.header .menu .c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #00a2d1;
  content: "";
}
.header .menu .c-hamburger span::before {
  top: -11px;
}
.header .menu .c-hamburger span::after {
  bottom: -11px;
}
.header .menu .c-hamburger--rot {
  background-color: #28aadc;
}
.header .menu .c-hamburger--rot span {
  transition: transform 0.3s;
}
.header .menu .c-hamburger--rot.is-active {
  background-color: #166888;
}
.header .menu .c-hamburger--rot.is-active span {
  transform: rotate(90deg);
}
.header .menu .c-hamburger--htx {
  background-color: #ffffff;
}
.header .menu .c-hamburger--htx span {
  transition: background 0s 0.3s;
}
.header .menu .c-hamburger--htx span::before,
.header .menu .c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}
.header .menu .c-hamburger--htx span::before {
  transition-property: top, transform;
}
.header .menu .c-hamburger--htx span::after {
  transition-property: bottom, transform;
}
.header .menu .c-hamburger--htx.is-active {
  background-color: white;
}
.header .menu .c-hamburger--htx.is-active span {
  background: none;
}
.header .menu .c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}
.header .menu .c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.header .menu .c-hamburger--htx.is-active span::before,
.header .menu .c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}
.header .menu .c-hamburger--htla {
  background-color: #32dc64;
}
.header .menu .c-hamburger--htla span {
  transition: transform 0.3s;
}
.header .menu .c-hamburger--htla span::before {
  transform-origin: top right;
  transition: transform 0.3s, width 0.3s, top 0.3s;
}
.header .menu .c-hamburger--htla span::after {
  transform-origin: bottom right;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}
.header .menu .c-hamburger--htla.is-active {
  background-color: #19903c;
}
.header .menu .c-hamburger--htla.is-active span {
  transform: rotate(180deg);
}
.header .menu .c-hamburger--htla.is-active span::before,
.header .menu .c-hamburger--htla.is-active span::after {
  width: 50%;
}
.header .menu .c-hamburger--htla.is-active span::before {
  top: 0;
  transform: translateX(21px) translateY(1.5px) rotate(45deg);
}
.header .menu .c-hamburger--htla.is-active span::after {
  bottom: 0;
  transform: translateX(21px) translateY(-1.5px) rotate(-45deg);
}
.header .menu .c-hamburger--htra {
  background-color: #ff9650;
}
.header .menu .c-hamburger--htra span {
  transition: transform 0.3s;
}
.header .menu .c-hamburger--htra span::before {
  transform-origin: top left;
  transition: transform 0.3s, width 0.3s, top 0.3s;
}
.header .menu .c-hamburger--htra span::after {
  transform-origin: bottom left;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}
.header .menu .c-hamburger--htra.is-active {
  background-color: #e95d00;
}
.header .menu .c-hamburger--htra.is-active span {
  transform: rotate(180deg);
}
.header .menu .c-hamburger--htra.is-active span::before,
.header .menu .c-hamburger--htra.is-active span::after {
  width: 50%;
}
.header .menu .c-hamburger--htra.is-active span::before {
  top: 0;
  transform: translateX(-3px) translateY(1.5px) rotate(-45deg);
}
.header .menu .c-hamburger--htra.is-active span::after {
  bottom: 0;
  transform: translateX(-3px) translateY(-1.5px) rotate(45deg);
}
.header .menu .menu__icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
}

/* Слайдер */
.slick-slider {
  /* .slick-slider.slick-initialized Слайдер запущен */
  /* .slick-slider.slick-dotted Слайдер с точками */
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  height: 100%;
  width: 100%;
}

/* Слайд */
.slick-slide {
  /* .slick-slide.slick-active Слайд активный (показывается) */
  /* .slick-slide.slick-current Слайд основной */
  /* .slick-slide.slick-center Слайд по центру */
  /* .slick-slide.slick-cloned Клонированный слайд */
  /* .slick-slide.slick-cloned Клонированный слайд */
}
/* Стрелка */
.slick-arrow {
  /* .slick-arrow.slick-prev Стрелка влево */
  /* .slick-arrow.slick-next Стрелка вправо */
  /* .slick-arrow.slick-disabled Стрелка не активная */
}
/* Точки (булиты) */
.slick-dots {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1100px) {
  .slick-dots {
    margin-top: 50px;
  }
}
@media (max-width: 600px) {
  .slick-dots {
    margin-top: 20px;
  }
}
.slick-dots li {
  list-style: none;
  margin: 0 5px;
  /* .slick-dots li.slick-active Активная точка */
  /* .slick-dots li button Элемент точки */
}
.slick-dots li.slick-active button {
  background-color: #a9afb3;
}
.slick-dots li button {
  font-size: 0;
  width: 11px;
  height: 11px;
  background-color: transparent;
  border: 1px solid #c8c8c8;
  border-radius: 50%;
}

.slider {
  min-width: 0;
}
.slider__body {
  height: 275px;
  width: 100%;
}
.slider__item {
  width: 100%;
  height: 100%;
}
.slider__img {
  width: 100%;
  height: 100%;
}
.slider__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.poster {
  text-align: center;
  padding: 15px 0;
}
.poster__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}

.advantages {
  text-align: center;
}
.advantages__list {
  border-top: #9fdced solid 2px;
  border-bottom: #9fdced solid 2px;
  padding: 20px 30px;
  display: inline-block;
  text-transform: uppercase;
  color: #737373;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.2em;
  line-height: 1.5;
}
.advantages__item {
  margin-bottom: 15px;
}
.advantages__item:last-child {
  margin-bottom: 0;
}

.price-first__subtitle {
  color: #00a2d1;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  padding-bottom: 10px;
}

.table-area {
  max-width: 650px;
  margin: 0 auto;
}
.table-area__table {
  text-align: left;
  background-color: #e5f5fa;
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
  line-height: 1.5;
  font-style: italic;
}
.table-area__table th {
  background-color: #00a2d1;
  color: white;
  padding: 10px 15px;
}
@media (max-width: 400px) {
  .table-area__table th {
    text-align: center;
  }
}
.table-area__table td {
  padding: 10px 15px;
}
.table-area__table td p span {
  font-size: 0.8em;
}
@media (max-width: 400px) {
  .table-area__table td {
    text-align: center;
  }
}
.table-area__table tr {
  border-bottom: white solid 2px;
}
.table-area__table tr:last-child {
  border: none;
}
.table-area__description {
  font-size: 18px;
  line-height: 1.5;
  font-style: italic;
  background-color: #00a2d1;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.request__title {
  padding: 10px 0;
}
.request__form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.request__input {
  flex: 0 1 50%;
}
.request__input input {
  display: block;
  margin: 0 auto 10px;
  width: 80%;
  border: #abbdc8 solid 2px;
  border-radius: 7px;
  padding: 10px 5px;
}
.request__button {
  margin: 10px auto;
}
.request__btn {
  font-size: 24px;
  display: inline-block;
  color: white;
  background-color: #184c6a;
  width: 100%;
  text-transform: uppercase;
  padding: 8px 100px;
  border-radius: 4px;
}

.price-second {
  padding-bottom: 78px;
}
.price-second__title {
  margin-bottom: 10px;
}
.price-second__row {
  padding-bottom: 18px;
}

.title-h2 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: 10px;
}

.icons-row {
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.icons-row__column {
  flex: 0 1 33.333%;
}
.icons-row__item {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.icons-row__item figcaption {
  line-height: 1.5;
}
.icons-row__icon {
  width: 80px;
  height: 80px;
}
.icons-row__icon img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}