//<Подключаем шрифт>====================================================================================================
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
//</Подключаем шрифт>===================================================================================================


//<Шрифт по умолчанию>==================================================================================================
$fontfamily:lato,sans-serif;
//</Шрифт по умолчанию>=================================================================================================


//<Подключаем обнуляющий стиль>=========================================================================================
@import "nullstyle";
//</Подключаем обнуляющий стиль>========================================================================================

//</Оболочка>===========================================================================================================
.wrapper{
  min-height: 100%;
}
//<Оболочка>============================================================================================================

//<Основная сетка>======================================================================================================
.container{
  max-width: 1130px;
  padding: 0 20px;
  margin: 0 auto;
  //border: red solid 1px;
}
//</Основная сетка>=====================================================================================================

//<Подключение файлов стилей и элементов>===========================================================================
@import "over-header";
@import "header";
@import "menu";
@import "slider-slick";
//@import "footer";
//</Подключение файлов стилей и элементов>=====================================================

//<Основной блок>=====================================================

//================================================
body{
  //для плавной прокрутки в сафари
  Scroll-behavior: smooth;
  &.lock{
    overflow: hidden;
  }
}

.slider{
  min-width: 0;
  &__body{
    //position: relative;
    height: 275px;
    width: 100%;
  }
  &__item{
    //position: absolute;
    //top: 0;
    //left: 0;
    width: 100%;
    height: 100%;
  }
  &__img{
    width: 100%;
    height: 100%;
    img{
      object-fit:cover;
      width: 100%;
      height: 100%;
    }
  }
}
//=====================================================
.poster{
  text-align: center;
  padding: 15px 0;
  &__title{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
  }
  @media (max-width: 400px){
    padding: 8px 0;
    &__title{
      font-size: 18px;
    }
  }
}
//==============================================
.advantages{
  text-align: center;
  &__list{
    border-top: #9fdced solid 2px;
    border-bottom: #9fdced solid 2px;
    padding: 20px 30px;
    display: inline-block;
    text-transform: uppercase;
    color: #737373;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.2em;
    line-height: 1.5;
  }
  //
  &__item,{
    margin-bottom: 15px;
    //todo разобраться как убрать маркер с !important
    &::marker{
      display: none !important;
      list-style-image: none !important;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  @media (max-width: 400px){
    &__list{
      font-size: 10px;
    }
  }
}
//===========================================
.price-first{
  &__title{
  }
  &__subtitle{
    color: #00a2d1;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 10px;
  }

}
.table-area{
  max-width: 650px;
  margin: 0 auto;
  &__table{
    text-align: left;
    background-color: #e5f5fa;
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    line-height: 1.5;
    font-style: italic;
    font-family: $fontfamily;
    th{
      background-color: #00a2d1;
      color: white;
      padding: 10px 15px;
      @media (max-width: 400px){
        text-align: center;
        font-size: 14px;
      }
    }
    td{
      padding: 10px 15px;
      p span{
        font-size: 0.8em;
      }
      @media (max-width: 400px) {
        text-align: center;
        font-size: 14px;
      }
    }
    tr {
      border-bottom: white solid 2px;
      &:last-child{
        border: none;
      }
    }
  }
  &__description{
    font-size: 18px;
    line-height: 1.5;
    font-style: italic;
    background-color: #00a2d1;
    color: white;
    text-align: center;
    padding: 10px 0;
    @media (max-width: 400px) {
      font-size: 16px;
    }
  }
}
//=====================================================
.request{
  &__body{

  }
  &__title{
    padding: 10px 0;
  }
  &__form{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  &__input{
    flex: 0 1 50%;
    input{
      display: block;
      margin: 0 auto 10px;
      width: 80%;
      border: #abbdc8 solid 2px;
      border-radius: 7px;
      padding: 10px 5px;
    }
  }
  &__button{
    margin: 10px auto;
  }
  &__btn{
    font-size: 24px;
    display: inline-block;
    color: white;
    background-color: #184c6a;
    width: 100%;
    text-transform: uppercase;
    padding: 8px 100px;
    border-radius: 4px;
  }
  @media (max-width: 400px) {
    &__btn{
      padding: 8px 50px;
    }
  }
}
//=====================================================
.price-second{
  padding-bottom: 78px;
  &__title{
    margin-bottom: 10px;
  }
  &__row{
    padding-bottom: 18px;
  }
}
//======================================================
.title-h2{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: 10px;
  @media (max-width: 400px){
    font-size: 16px;
    padding-bottom: 0;
  }
}
.icons-row{
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  &__column{
    flex: 0 1 33.333%;
  }
  &__item{
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    figcaption{
      line-height: 1.5;
    }
  }
  &__icon{
    width: 80px;
    height: 80px;
    img{
      object-fit:contain;
      width: 100%;
      height: 100%;
    }
  }
}


//</Основной блок>=====================================================